<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL<span class="highlighted">Shortener</span>Microservice</h1>
    <main>
      <section>
        <h2>Create short URL</h2>
        <pre>
          <span class="highlighted">POST</span> /api/shorturl
        </pre>
        <form action="api/shorturl" method="POST">
            <label for="url_input">URL to shorten</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="Shorten" class="button"/>
        </form>
      </section>
      <section>
        <h2>Use short URL</h2>
        <pre>
          <span class="highlighted">GET</span> /api/shorturl/:short_url
        </pre>
        <h3>This:</h3>
        <pre>
          <a href="/api/shorturl/80">/api/shorturl/79</a>
        </pre>
        <h3>Will redirect to:</h3>
        <pre>
          https://macluiggy.github.io/
        </pre>
      </section>
    </main>
    <!--
    <section>
      <form action="api/shorturl" method="POST">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
          <input type="submit" value="POST URL" />
        </fieldset>
      </form>
    </section>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
    </footer>
    -->
    <script type="text/javascript" src="../index.js"></script>
  </body>
</html>
