:root {
  --highlight: rgb(26, 221, 163);
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #111;
  text-align: center;
  line-height: 1.4em;
}

main {
  padding: 0;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  margin: auto;
  justify-content: center;
  gap: 1em;
}

h3 {
  margin-top: 30px;
}

section {
  border: solid;
  height: fit-content;
  padding: 1em;
}
section pre {
  white-space: pre-line;
  background-color: rgb(75, 75, 75);
}
section > form {
  display: flex;
  flex-direction: column;
}
.highlighted {
  color: var(--highlight);
}
.button {
  background-color: var(--highlight);
  border: none;
  /*
  width: 5em;
  padding: 1.5em;
  text-align: center;
  */
}